.navbar{background: #01202e;}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #007bff;
  outline: none;
}
.profile-btn{
  padding: 0;
    background: transparent;
    border: 0;
    color: #fff;
}
.profile-btn:hover,
.btn-light:not(:disabled):not(.disabled).active, 
.btn-light:not(:disabled):not(.disabled):active, 
.show>.btn-light.dropdown-toggle{background-color: transparent;}
.btn-light:not(:disabled):not(.disabled).active:focus, 
.btn-light:not(:disabled):not(.disabled):active:focus, 
.show>.btn-light.dropdown-toggle:focus,.btn-light.focus, .btn-light:focus {
  box-shadow: none;
}
.dropdown-toggle::after{border: 0;}